body {
    font-family: Arial, Helvetica, sans-serif!important;
}

#chat {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FAFAFA;
    border: 1px solid #acacac;
    padding: 1em;   
    text-align: center;
}

#msg-input {
    border: 1px solid #3498db;
    width: 40%;
    padding: 5px 10px;
    font-size: 1.25em;
}

#submit, #delete {
    min-width: 200px;
    height: 35px;
    border-radius: 0;
    background-color: #43A047;
    color: white;
    font-size: 1.25em;
    border: none;
}
#submit:hover, #delete:hover {
    background-color: #43A047;
    color: white;
}

#messages {
    font-weight: bold;
    font-size: 1.5em;
    color: #34495e;
}

#messages p {
    position: relative;
    padding: 5px 10px;
    cursor: default;
    border: 1px dotted #fff;
    transition: 0.5s;
}

#messages p:hover {
    border: 1px dotted #333;
    color: #000;
}